<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="wrapper">
    <div class="container">
        <h2>Forgot Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
            <form method="POST" action="{{ url_for('forgot_password') }}" class="text-uppercase">
                {{ form.hidden_tag() }}
                <label for="username" class="custom-label">{{ form.username.label.text }}</label>
                {{ form.username(class_="form-control input-field") }}
                <label for="password" class="custom-label">{{ form.new_password.label.text }}</label>
                {{ form.new_password(class_="form-control input-field") }}
                <label for="password" class="custom-label">{{ form.confirm_password.label.text }}</label>
                {{ form.confirm_password(class_="form-control input-field") }}
                <button type="submit">Submit</button>
                <div class="register">
                    <p>Return to <a href="{{url_for('login')}}">Login</a></p>
                  </div>
            </form>
    </div>
</div>
</body>
</html>
