<link rel="stylesheet" href="{{ url_for('static', filename='results.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/favourites.js')}}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="resultbg">
    <div class="page-headerx">
        <div class="container">
            <div class="text">
                <span style="--i:-4">V</span>
                <span style="--i:-3">o</span>
                <span style="--i:-4">g</span>
                <span style="--i:-1">u</span>
                <span style="--i:0">e</span>
                <span style="--i:1">X</span>
            </div>
        </div>
        <div class="container flow">

            <div class="page-title">Tailor made, just for you.</div>
            <p class="page-subtitle"></p>
        </div>
    </div>

</div >
</div>
<div class="container flow">
    {% for idx,occasion in enumerate(sorted_fav_list) %}
<div class="media-scroller snaps-inline top-buffer">
    {% for idx2, j in enumerate(sorted_fav_list[occasion]) %} 
    <div class="media-element">
        <img src={{sorted_fav_list[occasion][idx2]['favourite_url']}} id="{{occasion}}{{idx2}}" >

        <p class="text-center text-light">Occasion: {{occasion}}</p>  
        <button type="button" class="blendbtn btn btn-primary favourite rounded m-3" id="{{occasion}}{{idx2}}"><b>Remove Favourite</b></button>
     
    </div>
    {% endfor %}   
</div>  
{% endfor %}
</div>
{% endblock %}
