<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Welcome, {{ current_user.first_name }}</h1>
<!-- <ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul> -->
<form action="/" method="POST">
  <input type="text" id="occasion-text" name="occasion-text" placeholder="What's the occasion?" class="form-control">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div align="center">
            <button type="submit" class="btn btn-primary btn-circle btn-xl">Go</button>
        </div>
      </div>
      <div class="col-sm">
        <div align="center">
            <button type="submit" class="btn btn-success btn-circle btn-xl">Lucky</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}