<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
    <div class="row top-buffer">
        <div class="col-sm">
            
        </div>
    </div>

    <form action="/" method="POST">
        <div class="row top-buffer">
            <div class="col-sm">
                <input type="text" class="input-klass hover-zoom" id="occasion-text" name="occasion-text" placeholder="What's the occasion?">
                <br />
            </div>
        </div>
        <div class="row top-buffer">
        <div class="col-sm">
            <div align="center">
                <button type="submit" class="btn btn-light btn-circle btn-xl">Go</button>
            </div>
        </div>
        <div class="col-sm">
            <div align="center">
                <button type="submit" class="btn btn-dark btn-circle btn-xl">Lucky</button>
            </div>
        </div>
        </div>
    </form>
</div>
{% endblock %}