@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 50%;

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
  grid-auto-columns: 80%;
}

.media-group {
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: black;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
button > img {

    position: relative;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-subtitle {
  font-size: 20px;
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}

#MyForm{
    width: 300px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}
#Myimg{
    background: transparent;
}
body {
    background-image: url(images/bgresult.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

body.modal-open .resultbg{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(40px);
}
.top-buffer {
  margin-top:100px;
}
.top-buffer-md{
  margin-top: 50px;
}
.top-buffer-sm{
  margin-top: 50px;
}
.modal-body{
    border-color: rgb(159, 147, 153);
    border-width: 3px;
}
.page-title{
  font-size: var(--font-size-fluid-2);
  color: #111;
}
body.modal-open .media-element{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(40px);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text span {
  font-size: 60px;
  display: inline-block;
  text-align: center;
  width: 60px;
  text-transform: uppercase;
  position: relative;
  color: #111;
  z-index: 5;
}

.text span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(255, 208, 0);
  z-index: -1;
  box-shadow: 0 5px 5px #111;
}

.text:hover span::before {
  animation: fillBg 1s ease forwards;
  animation-delay: calc(100ms * var(--i));
}

@keyframes fillBg {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
    transform: rotate(calc(15deg * var(--i)));
  }
}
.blendbtn{
  mix-blend-mode: luminosity;
}