name: flake8 Lint

on: push

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: flake8 Lint
        run: |
          pip install flake8
          flake8 --ignore=E1,E23,W503,E501,C901,E722,F401,F522,F524 website
